<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Superhero list </h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Superhero Name</th>
        <th scope="col">Real Name</th>
        <th scope="col">Creation Year</th>
        <th scope="col">Powers</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="superheroes : ${superheroes}">
        <td th:text="${superheroes.superheroID}"> </td>
        <td th:text="${superheroes.superheroName}"> </td>
        <td th:text="${superheroes.realName}"> </td>
        <td th:text="${superheroes.creationYear}"> </td>
        <td>
            <a th:href="@{/superhelte/superhelt/{superheroName}(superheroName=${superheroes.superheroName})}">
                <button>Power</button>
            </a>
        </td>
    </tr>
</table>
<button type="Sumbit">Tilføj superhelt</button>


</body>
</html>